# Server
PORT=8080

# MODE
DEV_MODE=true

# Hash token for passwords
TOKEN_SECRET=""

# Firebase (sacar de la config del proyecto firebase)
FIREBASE_API_KEY=""
FIREBASE_AUTH_DOMAIN="fiuumber.firebaseapp.com"
FIREBASE_PROJECT_ID="fiuumber"
FIREBASE_STORAGE_BUCKET="fiuumber.appspot.com"
FIREBASE_MESSAGING_SENDER_ID=""
FIREBASE_API_ID=""
FIREBASE_MEASUREMENT_ID=""

# Microservices
API_USERS_URL="https://fiuumber-api.herokuapp.com/"
API_USERS_BASE_PATH="/api/users-service"
DEV_MODE=false
